<!-- Navigation Bar -->
<nav class="navigationBar">
    <div class="leftNav">
        <!-- Home Link on Icon -->
       <a href="/"> <i class="fa-solid fa-bug logo" ></i></a>
    </div>
    <p style="color: rgb(255, 255, 255); letter-spacing: 0.15rem;  font-weight: 600; font-size: 1.5rem;">Issue Tracker</p>
    <div class="rightNav">
        <!-- Home Link Button -->
        <a class="links" href="/">Home</a>
    </div>
</nav>
