<!-- Create Project Container -->
<div class="container1">
    <div class="container">
        <p class="heading" id="titleCreateProject">Create Project</p>

        <!-- Form to create a project -->
            <form id="createProjectForm" action="/create_project" method="POST">
                <input type="text" class="margin" name="projectName" placeholder="Project Name" required>
                <textarea rows="7" class="margin" name="description" placeholder="Description..." required></textarea>
                <input type="text" class="margin" name="authorName" placeholder="Author Name" required>
                <input type="submit" id="bnt" class="margin"  value="Create">
            </form>

    </div>
</div>